.header{
    height: 75px;
}
.container{
    min-height: calc(100vh - 150px);
}
.footer{
    position: relative;
    height: 75px;
    bottom: 100%;
}

#pageHeading{
    text-align: center;
    font-size: 75px;
}
#inputForm{
    text-align: center;
}
#input{
    text-align: center;
}
#btn{
    position: relative;
}

