
.header{
    height: 80px;
    background-color: rgb(75, 75, 75);
}
.middle{
    margin: 0;
    padding: 0;
    min-height: calc(100vh - 150px);
    width: 100%;
    background-color: black
}
.footer{
    position: relative;
    height: 75px;
    bottom: 100%;
    background-color: black;
}

#title{
   position: relative; 
   top: 20px; 
   font-family: 'Roboto Mono', monospace; 
   font-size: 45px;
   color: aliceblue;
}

#time{
    position: relative;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 150px;
    color: rgb(72, 211, 17);
    top: 150px;
}